body{
	background-color: #303030;
	color: white;
	margin: 5px;
	/*font-family: 'Roboto', sans-serif; */
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1{
	font-weight: normal;
}
#wrapper{
	display: flex;
	flex-direction: column;
}
#projectsbar{
	display: flex;
	flex-direction: column;
}
#skills{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-around;
	margin-left: 4px;
	margin-right: 4px;
}
.skillsection{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	background-color: #454545;
	margin: 1px;
}
.skillsection i{
	font-size: 1.5em;
}
.skill{
	display: flex;
	margin: auto;
}
.skillsection i:before{
	 vertical-align: -50%;
}
@media (min-width: 768px) {
	#wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
  }
  .project{
	  margin-left: 1px;
	  margin-right: 1px;
  }
}

@media (min-width: 1200px) {
	#projectsbar {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		align-items: flex-start;
		grid-gap: 0px;
		height: 0px;
	}
}

.mainbody{
	border-radius: 5px;
}

#leftbar{
	background-color: #404040;
}

#leftbar img{
	max-width: 100%;
	border-radius: 10px;
}

#coverletter{
	margin-right: 10px;
	margin-left: 10px;
}

hr{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
  background-image: -moz-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
  background-image: -ms-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
  background-image: -o-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b); 
}

#projectTitle{
	grid-column: span 2;
}
.hobby{
	grid-column: span 2;
	grid-row: span 2;
	min-height: 200px;
}

.hobbytitle{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #eeeeee;
	transform: translate(-50%, -50%);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.hobby, .project{
	/*border-radius: 5px; */
	background-color: #404040;
	margin-top: 1px;
	margin-bottom: 1px;
	max-height: 200px;
	overflow: hidden;
	position: relative;
	background-position: center;
	background-size: cover;
}

.projecttitle{
	opacity: 0;
	color: white;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.project{
	opacity: 0.5;
	-webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
	min-height: 200px;
	cursor: pointer;
}
.project:hover{
	opacity: 0.9;
}
.project:hover .projecttitle{
	opacity: 1;
}
#myname{
	font-size: 3em;
	padding: 0px;
	margin: 0px;
}
#myname p{
	margin: 0px;
}
#footer{
	grid-column: span 2;
}

.centertext{
	text-align: center;
}
#contacts{
	display: flex;
	flex-direction: column;
}
.contact{
	display: grid;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	grid-template-columns: 40px 100%;
	vertical-align: center;
	text-align: left;
	background-color: #454545;
	margin-top: 3px;
	cursor: pointer;
}
.contact a{
	text-decoration: none;
	color: white;
	vertical-align: center;
}
.contact i{
	font-size: 1.4em;
	vertical-align: center;
}
/*.contact i:before{
	 vertical-align: -25%;
} */
.hobby1{
	background-image : url(../images/tennis.png);
}
.hobby2{
	background-image : url(../images/robotics.jpg);
}
.project1{
	background-image : url(../images/RobotSim.png);
}
.project2{
	background-image : url(../images/buffvex.jpg);
}
.project3{
	background-image : url(../images/halite3.png);
}
.project4{
	background-image : url(../images/softwaredev.jpg);
}