body{
	font-family: "Lato", sans-serif; /* OPTIONAL: Google Fonts - base font */
	font-weight: 300;
	font-size: 16px;
	-webkit-font-smoothing: subpixel-antialiased
}
nav{
	font-weight: 150;
	border-bottom: 4px solid #111;
}
.mainbody{
	background-color: #f0f0f0
}